*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}

html,body{
    height:100%;
    width:100%;
}
body{
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: center;
}
.all{
    height: 155px;
    width: 300px;
    
}
.container{
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.card{
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
    margin: 20px;
}
#front,#back{
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
}
#front{
background-color: aqua;
}
#back{
background-color: red;
}

.all:hover>.card{
    cursor: pointer;
    transform: rotateY(180deg);
}
#back{
    transform: rotateY(180deg);
}
.container:hover>.card{
    cursor: pointer;
    transform: rotateY(180deg);
}